html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#page-loading {
  z-index: 10;
}

#page-loading.loading-completed {
  z-index: -10;
}

#page-loading, #page-map, #page-trackers {
  height: 100%;
}

#page-map {
  z-index: 0;
}

#page-trackers {
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}

#page-trackers table {
  width: 100%;
  background-color: #eee;
  border-radius: 3px;
  padding: 0 0.3em;
  border-collapse: collapse;
  overflow: hidden;
}

#page-trackers thead {
  background-color: #777;
  color: white;
  font-size: 1.4em;
}

#page-trackers thead td {
  padding: 0.6em 0.5em;
}

#page-trackers tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

#page-trackers td {
  padding: 1.2em 0.5em;
}

#page-trackers .header {
  color: #fff;
  font-size: 26px;
  margin: 28px 0;
  text-shadow: 0 0 13px #000;
  float: left;
}

#page-trackers .content {
  display: inline-block;
}

#page-trackers .button {
    display: inline-block;
    background-color: #01CBE1;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    float: right;

    height: 44px;
    width: 44px;
    line-height: 44px;
    border-radius: 22px;
    font-size: 22px;
}

#page-trackers .fa-close {
  margin: 1px 0 0 1px;
}

.map-control-button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
}

.map-control-button-text {
  color: rgb(25,25,25);
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

.gm-style-iw tr td:first-of-type {
    font-weight: 800;
}

.gm-style-iw td {
  padding: 0.3em 1em;
}

.gm-style-iw table {
  margin: 0 -1em;
}