html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#page-map, #page-trackers {
  height: 100%;
}

#page-map {
  z-index: 0;
}

#page-trackers {
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
}

#page-trackers table {
  width: 100%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 3px;
  padding: 0 0.3em;
  border-collapse: collapse;
  overflow: hidden;
}

#page-trackers thead {
  background-color: rgba(0,0,0,0.1);
}

#page-trackers td {
  padding: 0.5em;
}

#page-trackers .header {
  color: #fff;
  font-size: 24px;
  margin: 20px 0 10px 0;
  text-shadow: 0 0 13px #000;
}

#page-trackers .content {
  display: inline-block;
}

#page-trackers .button {
    display: inline-block;
    background-color: #01CBE1;
    padding: 0.7em 2em;
    color: white;
    margin-top: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.map-control-button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
}

.map-control-button-text {
  color: rgb(25,25,25);
  font-size: 16px;
  line-height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}

.gm-style-iw tr td:first-of-type {
    font-weight: 800;
}

.gm-style-iw td {
  padding: 0 0.5em;
}

.gm-style-iw table {
  margin: 0 0.5em;
}