#page-loading {
  z-index: 10;
  background-color: white;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

#page-loading.loading-completed {
  z-index: -10;
}

#page-loading .fa-spin {
    font-size: 60px;
    color: #01CBE1;
    margin-top: 150px;
}
